@use '@/styles/variables.scss';
@use '@/styles/mixins.scss';

.thumbnail-page {
  background: variables.$gray-5;
  color: variables.$white;
  font-family: 'Inter', sans-serif;
}

.thumbnail-page__wrapper {
  padding: 0 4.18rem 0 4.95rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include mixins.respond-to('big-desktop-up') {
    padding: 0 3.5rem 0 4rem;
  }

  @include mixins.respond-to('tablet-landscape-down') {
    padding: 0 1.5rem 0 1.7rem;
  }
}

.thumbnail-page__images {
  display: flex;
  align-items: center;
}

.thumbnail-page__thumbnail {
  display: flex;
  margin-top: 14.75rem;
  gap: 2.8rem;

  @include mixins.respond-to('desktop-down') {
    display: grid;
    grid-template-columns: 31.67% 66.32%;
    gap: 2.5%;

    margin-top: 8.5%;
  }

  @include mixins.respond-to('tablet-landscape-down') {
    display: flex;
    flex-direction: column;
  }
}

.thumbnail-page__laptop-image {
  position: relative;
  width: 66.125rem;
  height: 40.0625rem;

  @include mixins.respond-to('tablet-landscape-down') {
    display: none;
  }
}

.thumbnail-page__smartphone-image {
  position: relative;
  width: 15rem;
  height: 27.8rem;
  margin-left: -5.3rem;
  margin-top: 2rem;

  @include mixins.respond-to('desktop-down') {
    display: none;
  }

  @include mixins.respond-to('tablet-landscape-down') {
    margin-left: 0;
    display: flex;
    width: 100%;
  }
}

.thumbnail-page__title {
  font-weight: 900;
  font-size: 3.75rem;

  @include mixins.respond-to('tablet-landscape-down') {
    font-size: 2.7rem;
  }
}

.thumbnail-page__list {
  list-style: none;
  padding: 0;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 3.31rem;

  @include mixins.respond-to('tablet-landscape-down') {
    gap: 1rem;
  }
}

.thumbnail-page__author {
  margin-top: 8.5rem;
  font-weight: 900;
  font-size: 1.85rem;
  margin-bottom: 3.3rem;
}
