@use '@/styles/variables.scss';
@use '@/styles/mixins.scss';

@mixin circle($size, $color, $bottom, $right) {
  content: '';
  position: absolute;
  background: $color;
  width: $size;
  height: $size;
  border-radius: 50%;
  bottom: $bottom;
  right: $right;
}

.contact-us {
  &-page {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
  }

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    margin: 0;
  }

  &__description {
    color: variables.$gray-1;
    font-size: 1.125rem;
    font-weight: 500;
    text-align: center;
    margin: 0;
  }

  &__form-block {
    display: flex;
  }

  &__contact-information {
    display: flex;
    flex-direction: column;
    background: variables.$black;
    color: variables.$white;
    padding: 2.5rem;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    position: relative;
    overflow: hidden;

    &::after {
      @include circle(8.625rem, variables.$gray-6, 4.375rem, 4.375rem);
    }

    &::before {
      @include circle(16.8125rem, variables.$dark-2, -5.3rem, -5.5rem);
    }

    &-title {
      font-size: 1.75rem;
      font-weight: 600;
      margin: 0;
    }

    &-subtext {
      margin-top: 6px;
      color: variables.$gray-7;
      font-size: 1.125rem;
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 50px;
      list-style: none;
      padding: 0;
      margin: 0;
      margin-top: 7rem;
      max-width: 67%;

      &-item {
        display: flex;
        align-items: center;
        gap: 25px;
        font-size: 1rem;
      }
    }

    &-socials {
      display: flex;
      gap: 1.5rem;

      margin-top: 9.5rem;
    }

    &-social-media-block {
      width: variables.$iconCircle;
      height: variables.$iconCircle;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      border-radius: 50%;
      background: variables.$black;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background: variables.$white;
      }
    }

    &-social-icon {
    }
  }
}
